<div class="sec">
  <app-section-title [sectionNumber]="section" [title]="title" />
  <div class="page-container">
    @for (project of projects; track project.title) {
      <div
        class="grid grid-cols-[2rem_1fr_120px_80px] items-center gap-4 py-4 border-b border-[rgba(232,228,220,0.06)] cursor-pointer transition hover:bg-[rgba(201,169,110,0.03)] group"
      >
        <div
          class="font-mono text-[10px] md:text-base font-light font-highlight"
        >
          {{ project.number }}
        </div>
        <div>
          <div class="text-[14px] md:text-lg text-[#e8e4dc]">
            {{ project.title }}
          </div>
          <div class="text-[11px] md:text-base font-light font-highlight">
            {{ project.description }}
          </div>
        </div>

        <div class="flex flex-wrap justify-end gap-1">
          @for (tech of project.technologies; track tech) {
            <span
              class="font-mono text-[10px] md:text-xs px-2 py-[2px] border border-gray-500/30 rounded-sm"
            >
              {{ tech }}
            </span>
          }
        </div>
        <div
          class="text-[14px] font-highlight text-right transition group-hover:text-[#c9a96e]"
        >
          ↗
        </div>
      </div>
    }
  </div>
</div>
