<div class="sec">
  <app-section-title
    [sectionNumber]="section"
    [title]="'projects.title' | translate"
  />
  <div class="page-container px-0">
    <p-carousel
      [value]="projects"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-project #item>
        <div class="m-4">
          <p-card>
            <ng-template #header>
              <img alt="Card" class="rounded-t-lg" src="{{ project.image }}" />
            </ng-template>
            <ng-template #title>
              <p class="font-bold">{{ project.title | translate }}</p>
            </ng-template>
            <hr />
            <div class="h-[8rem] overflow-y-auto touch-pan-y">
              <p class="pt-4">{{ project.description | translate }}</p>
            </div>
            <ng-template #footer>
              <div class="flex mt-1">
                <a
                  href="{{ project.url | translate }}"
                  target="_blank"
                  class="w-full text-center p-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-300"
                >
                  {{ "projects.visit" | translate }}
                </a>
              </div>
            </ng-template>
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
