<div
  class="flex items-center border-t h-14 md:h-20 overflow-hidden bg-[rgba(201,169,110,0.04)] pause-on-hover"
>
  <div class="flex w-max animate-marquee marquee pointer-events-none">
    @for (tech of technologies; track tech.id) {
      <span
        class="font-mono font-light text-[#c9a96e] tracking-[0.12em] px-8 opacity-70 whitespace-nowrap text-xs md:text-base"
      >
        {{ tech.name }}
      </span>
      <span class="text-[rgb(255,255,255)]">·</span>
    }
    @for (tech of technologies; track tech.id) {
      <span
        class="font-mono font-light text-[#c9a96e] tracking-[0.12em] px-8 opacity-70 whitespace-nowrap text-xs md:text-base"
      >
        {{ tech.name }}
      </span>
      <span class="text-[rgb(255,255,255)]">·</span>
    }
  </div>
</div>
