<div
  class="border-t-1 border-tb-[rgba(232,228,220,0.06)] overflow-hidden bg-[rgba(201,169,110,0.04)]"
>
  <div class="flex py-4 gap-0 w-max animate-[marquee_28s_linear_infinite] items-center">
    <span class="marquee-item">Angular 19</span
    ><span class="marquee-dot">·</span>
    <span class="marquee-item">TypeScript</span
    ><span class="marquee-dot">·</span> <span class="marquee-item">RxJS</span
    ><span class="marquee-dot">·</span>
    <span class="marquee-item">NgRx Signals</span
    ><span class="marquee-dot">·</span>
    <span class="marquee-item">NestJs</span
    ><span class="marquee-dot">·</span> <span class="marquee-item">Jest</span
    ><span class="marquee-dot">·</span>
    <span class="marquee-item">Storybook</span
    ><span class="marquee-dot">·</span> <span class="marquee-item">Node.js</span
    ><span class="marquee-dot">·</span> <span class="marquee-item">CI/CD</span
    ><span class="marquee-dot">·</span>
    <span class="marquee-item">Prisma</span
    ><span class="marquee-dot">·</span>
    <span class="marquee-item">Figma</span
    ><span class="marquee-dot">·</span> <span class="marquee-item">RxJS</span
    ><span class="marquee-dot">·</span>
    <span class="marquee-item">API Rest</span
    ><span class="marquee-dot">·</span>
    <span class="marquee-item">Git</span
    ><span class="marquee-dot">·</span> <span class="marquee-item">Jira</span
    ><span class="marquee-dot">·</span>
    <span class="marquee-item">Scrum</span
    ><span class="marquee-dot">·</span> <span class="marquee-item">Kanban</span
    ><span class="marquee-dot">·</span> <span class="marquee-item">Azure DevOps</span
    ><span class="marquee-dot">·</span>
  </div>
</div>
